# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# Virtual environment
venv/
.env

# ----------------------
# Data and databases
# ----------------------
# Ignore entire raw_data folder
raw_data/


# DuckDB / SQLite databases
*.duckdb
*.sqlite

# ----------------------
# IDE / Editor files
# ----------------------
# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# OS files
# ----------------------
.DS_Store
**/.DS_Store
Thumbs.db
